@using PierreTreats.Models;
@model List<PierreTreats.Models.Treat>;

@{
    ViewData["Title"] = "Treats Page";
}

<div class="text-center">
  <h1 class="display-4">Pierre's Treats</h1>


  @if (@Model.Count == 0)
  {
    <br><br><h3>There are no treats in the system</h3>
  }
  else 
  {
  <br><h1>Pierre's Treats</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Treat Details</th>
        <th scope="col">Flavor/s</th>
        @* <th scope="col">Edit T</th> *@
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
    @foreach(Treat Treat in Model) 
    {
      <tr>
        <td>@Html.ActionLink($"{Treat.TreatName}", "Details", new {id=Treat.TreatId})</td> 
        <td>flavors will go here</td>
        @* <td>@Html.ActionLink("", "Edit", new {id=($"{Treat.TreatId}")}, new {@class="fas fa-pencil-alt" })</td> *@
        <td>@Html.ActionLink("", "Delete", new {id=($"{Treat.TreatId}")}, new {@class="fa-solid fa-trash-can"})</td>
      </tr>
    }
    </tbody>
  </table>
  }

  <br><h3>@Html.ActionLink("Add a Treat", "Create", "Treats")</h3>
  <h3>@Html.ActionLink("See all Flavors", "Index", "Flavors")</h3>

</div>
