@using PierreTreats.Models;
@model IEnumerable<PierreTreats.Models.Treat>

@{
    ViewData["Title"] = "Treats Page";
}

<div class="text-center">

  @if (Model.Any())
  {
  <br><h5>Pierre's Treats</h5>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Treat Details</th>
        <th scope="col">Flavor/s</th>
        @* <th scope="col">Edit T</th> *@
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
    @foreach(Treat treat in Model) 
    {
      <tr>
        <td>@Html.ActionLink($"{treat.TreatName}", "Details", new {id=treat.TreatId})</td> 
        <td>@foreach(FlavorTreat flavorTreat in treat.JoinEntities)
          {
            <p>@($"{flavorTreat.Flavor.FlavorName}")</p>
          }
        </td>
        <td>@Html.ActionLink("", "Delete", new {id=($"{treat.TreatId}")}, new {@class="fa-solid fa-trash-can"})</td>
      </tr>
    }
    </tbody>
  </table>
  }
  else
  {
    <br><br><h4>There are no treats in the system</h4>
  }

  <br><h5>@Html.ActionLink("Add a Treat", "Create", "Treats")</h5>
  <h5>@Html.ActionLink("See Flavors", "Index", "Flavors")</h5>

</div>
